<ion-view view-title="Alta de empleados" name="altaEmpleado-tab" hide-nav-bar="true">
    <ion-header-bar class="bar-stable">
        <button class="button button-icon button-calm ion-navicon" ng-click="openMenuLeft()"></button>
        <h1 class="title">Alta de usuarios</h1>
    </ion-header-bar>

    <ion-content class="has-header" padding="true" ng-app="myApp" cache-view="false">
        <div class="container" id="cont	">
            <div class="list list-inset">
                <label class="item item-input">
                    <div class=" item-image">
                        <img src="src/img/bannerKioscoUPP2.jpg" />
                    </div>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="*Email" ng-model="nuevoEmpleado.email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="*Nombres" ng-model="nuevoEmpleado.nombres" pattern="[a-zA-Z]{2,}">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="*Apellido Paterno" ng-model="nuevoEmpleado.apellidoPaterno">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Apellido Materno" id="maternoPass" ng-model="nuevoEmpleado.apellidoMaterno">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="*Contraseña" id="empleadoPass" ng-model="nuevoEmpleado.contrasena">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="*Confirmar contraseña" ng-model="contrasena.verificaContrasena">
                </label>
                <label class="item item-input item-select">
                    <span class="item-input">Seleccione Rol</span>
                    <select ng-model="nuevoEmpleado.idRol">
                        <option ng-repeat="itemRol in roles" value="{{itemRol.catUsuarioRol.idRol}}"> {{itemRol.rol}}</option>
                    </select>
                </label>
                <button class="button button-block button-calm" ng-click="crearEmpleado()">Generar alta</button>
            </div>
        </div>
    </ion-content>
</ion-view>